*{
    margin: 0;
}

.container-box{
    display: flex;
    width: 100%;
}

.contacts-box{
    display: flex;
    flex:0 0 20%;
    flex-direction: column;
    border: 2px solid #E8EBE4;
}

.mainuser-box{

    display: flex;
    justify-content: space-between;
    padding: 5%;
}

/*Pequeño container para foto, nombre y status*/
.user, .contact {

    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
}

.user, .contact, h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.contact, h3{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.user #status{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #BEC1BB;

}

/*Formato para todas las imágenes de usuario*/
.contact img{
    width: 50px;
    border-radius: 50%;
}

.main img{
    width: 40px;
    border-radius: 50%;
}

/*Distribución nombre-estado para usar en cada usuario*/
.user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-buttons{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.menu-buttons i{
    font-size: 20px;
    color: #828485;
}

hr{
    border: 1px solid #E8EBE4;
}

/*Boton Nuevo Chat */
.button{
    display: flex;
    justify-content: center;
    padding: 10%;
}

.chat-button{
    background-color: #A491D2;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
}

.chat-button:hover{
    background-color: #CDC3E6;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
}

.contact{
    padding-top: 3% ;
    padding-bottom: 3%;
}

.logo-box{
    background-color: #f8f8f8;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-box h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}


.logo-box img{
    width: 20%;
}